[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xgboost = "*"
scikit-learn = "==1.1.3"
flask = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
